.title-section {
  background: url("/path/to/image.jpg") center / cover no-repeat;
}

.header {
  background-color: transparent;
  color: white;

  padding: 15px 0;
  position: fixed;
  right: 0;
  left: 0;
  z-index: 100;
  @apply duration-300;
}

.header.scrolled {
  color: #000000;
  background-color: #f8f9fa;
  box-shadow: 0 10px 10px rgb(0 0 0 / 8%);
}

.header-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  gap: 40px;
  padding: 0 20px;
  position: sticky;
}

.header-logo {
  display: flex;
  align-items: end;
  gap: 30px;
  min-width: 150px;
}

.company-name {
  font-size: 26px;
  font-weight: bold;
}

/* Responsive */
@media (max-width: 768px) {
  .header-container {
    flex-wrap: wrap;
    gap: 10px;
  }

  .company-name {
    font-size: 16px;
  }
}

.header {
  container-type: inline-size;
}
