.title{
       background: linear-gradient(90deg, #0d274d 0%, #1b4b82 100%);
        color: #ffffff;
        width: 100%;
        /* boxSizing: border-box; */
        padding: 80px 10%;
}
.title__heading {
    font-size: 38px;
    font-weight: bold;
    margin: 0 0 15px 0;
    letter-spacing: 1px;
}
.title__subheading {
    borderLeft: 2px solid rgba(255, 255, 255, 0.7);
    font-size: 14px;
    paddingLeft: 15px;
    opacity: 0.9 ;

}