.title {
 
  background-image: url('/public/images/header-bg.webp');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #ffffff;
  width: 100%;
  /* boxSizing: border-box; */
  padding: 140px 80px 120px;
  position: relative;
}
.title__heading {
  font-size: 38px;
  font-weight: bold;
  margin: 0 0 15px 0;
  letter-spacing: 1px;
}
.title__subheading {
  border-left: 2px solid ;
  font-size: 14px;
  padding-left: 15px;
  opacity: 0.9;
}
